body {
    background-color: rgb(184, 229, 255);
}

.heading {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}

.heading-container {
    display: inline-block;
    width: 200px;
    /* background-color: aquamarine; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    /* text-align: center; */
}

.add-bookmark {
    height: 100%;
    width: 100%;
    font-weight: bold;
}

.category {
    /* height: 200px; */
    display: inline-block;
    margin: 24px;
    padding: 24px;
    background-color: aquamarine;
    overflow: auto
}

.category-title {
    font-weight: bold;
    padding: 4px;
}

.category-list {
    border: 1px solid black;
    /* padding: 4px; */
    height: 150px;
    width: 40vw;
    overflow: auto;
}

.bookmark-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: white;
    margin: 4px;
}

.b-text, .b-details {
    display: inline-block;
}

.b-text {
    cursor: pointer;
}

.b-details {
    width: 100px;
}

.details-button {
    height: 100%;
    width: 100%;
}

.b-details-window {
    display: none;
    background-color: bisque;
    position: fixed;
    right: 10vw;
    top: 20vh;
    width: 30vw;
    height: 30vh;
    padding: 24px;
}

.b-field-block {
    display: flex;
    padding: 4px;
    overflow-x: hidden;
    /* justify-content: space-between; */
}

.b-field-value {
    /* word-wrap: break-word; */
    padding-left: 8px;
}

.add-b-window-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;

    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.add-b-window {
    background-color: rgb(184, 229, 255);
    width: 50vw;
    height: 70vh;
    padding: 48px;
}

.add-bookmark-form {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 1.5rem;
    padding: 12px 0px;
}

.add-field-container {
    /* background-color: aliceblue; */
    padding: 4px 0px;
    margin: 4px 0px;
    height: 50px;
}

.add-buttons-container {
    display: flex;
    justify-content: space-between;
}

.submitButton, input {
    height: 100%;
    width: 100%;
}

.add-button-container {
    width: 200px;
    height: 50px;
}

#add-category {
    display: none;
}

a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.all-categories-col {
    display: inline-flex;
    flex-direction: column;
}